* {
    margin: 0;
    padding: 0;
}
 
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
   
    background-color:rgba(0, 0, 0, 0.486);
    height: 45px;
    width: 100%;
    position: fixed;
    float: left;
    z-index: 1;

    

}

.nav {
    margin: auto;
    width: 900px;
    height: 45px;
    
    
    
}


.nav>ul>li {
    position: relative;
    float: left;
    display: block;
    list-style: none;
    width: 100px;
    height: 45px;
    margin-left:66.5px;
}




.title {
    /*布局*/
    
    display: inline-block;
    height: 45px ;
    width: 100px;
    line-height: 45px;
    text-align: center;
    background-color:#000000;
    border-radius: 30px;
    border-bottom: solid 2px white;

    /*字体*/
    color:rgb(225, 225, 225);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    
}






.nav>ul>li>a:hover {
    box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, .3);
    color: rgb(255, 255, 255);
    border-bottom: rgb(225, 225, 225) solid 6px;
    
}


.innerUL {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.507);
}

.innerUL li{
    margin-left: 0;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
}

.innerUL li a {
    color: rgb(187, 187, 187);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.innerUL li a:hover {
    color: rgb(255, 255, 255);
    border-bottom: rgb(225, 225, 225) solid 2px;

}






.loregion {
    position: relative;
    width: auto;
    height: 250px;
    background-color: black;
}






.first_page {
    height: 350px;
    width: auto;
}

.fimg {
    height: 350px;
    width: 100%;
    z-index: -1;
}


.logo {
    height: 120px;
    width: 130px;
    position: absolute;
    left: 575px;
    top: 106px;
    background-color: whitesmoke ;
    border-radius: 15px;

    }

.name {
    height: 60px;
    width: 150px;
    position: absolute;
    left: 565px;
    top: 236px;
    text-align: center;
    line-height: 60px;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(225, 225, 225);

}





.source {
    position: relative;
    display: inline-block;
    width: 1280px;
    height: 340px;
    background-color:#ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.source ul li {
    float: left;
}



.box1 {
    position: absolute;
    left: 41px;
    width: 575px;
    height: 340px;
    border-radius: 10px;
    background-color: black;
}

.box1 img {
    width: 575px;
    height: 300px;
    border-radius: 10px;
}

.source a {
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color:rgb(245, 245, 245);
    
}



.box2 {
    position: absolute;
    right: 41px;
    width: 575px;
    height: 340px;
    border-radius: 10px;
    background-color: black;
    overflow: hidden;
}

.box2 img {
    width: 575px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.source ul li :hover {
    box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, .3);
}

.article {
    width: 1200px;
    height: 400px;
    background-color: gray;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, .3);
    border-radius: 10px;

}



.footer {
    
    height: 160px;
    width: 100%;
    
    background-color:gray;
}

.version {
    display: inline-block;
    width: 230px;
    height: 65px;
    
    margin-top: 47.5px;
    margin-left: 160px;
    text-align: center;
    line-height: 30px ;
    color:#dadada;
}